# Copy this file to .env.local if you want to use your own keys

VITE_GEMINI_API_KEY=AIzaSyCaeBaMjoETkymGqBmfUnH3M8DVIgPAb10
VITE_FIREBASE_API_KEY=AIzaSyBDVBaS2pMb3BLSCspSedqxuWYtIh1GrLQ
VITE_FIREBASE_AUTH_DOMAIN=mln111-a59b2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mln111-a59b2
VITE_FIREBASE_STORAGE_BUCKET=mln111-a59b2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=120560303101
VITE_FIREBASE_APP_ID=1:120560303101:web:2216fa19bd45212ff3b794
VITE_FIREBASE_MEASUREMENT_ID=G-FYCV4DNSHK

# Cloudinary (optional, only for avatar upload)
VITE_CLOUDINARY_CLOUD_NAME=dltxwrzsg
VITE_CLOUDINARY_UPLOAD_PRESET=ml_default
